.face-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0;
}

.face-container h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.face-item {
  width: 10%;
  margin: 10px;
  text-align: center;
}

.face-item img {
  width: 100%;
  border-radius: 10px;
}

.face-item img:hover {
  transform: scale(1.1); /* Increase size on hover */
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.selected-face img {
  transform: scale(1.1); /* Increase size when selected */
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 900px) {
  .face-container {
    flex-direction: column;
    align-items: center;
  }

  .face-item {
    width: 80%;
  }
}
