/* Add these styles to your static/css/index.css file */

:root {
  --primary-color: #bf55ec; /* Rich violet color */
  --secondary-color: #e8e8e8; /* Light text color */
  --dark-color: #121212; /* Dark background color */
  --light-color: #212121; /* Light background color */
  --shadow-color: #bf55ec; /* Rich violet shadow color */
}

body {
  background-color: var(--dark-color);
  color: var(--secondary-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--light-color);
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--primary-color);
  background-color: var(--light-color);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px var(--shadow-color);
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: var(--primary-color);
}

.custum-file-upload .text span {
  font-weight: 400;
  color: var(--secondary-color); /* Light text color */
}

.custum-file-upload input {
  display: none;
}

.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.result-image {
  text-align: center;
}

.result-image h2 {
  font-size: 18px;
  margin-top: 10px;
}

.parameters-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.parameter {
  text-align: center;
}

.parameter h2 {
  font-size: 18px;
  color: var(--primary-color);
}

.parameter h3 {
  font-size: 24px;
}
