.popup {
  display: none;
  position: fixed;
  left: 50%; /* Horizontally center the popup */
  bottom: 30px;
  transform: translateX(-50%); /* Center the popup horizontally */
  background-color: #311529;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s forwards;
}

.popup-content {
  text-align: center;
}

#popup-message {
  font-size: 16px;
  margin: 0;
}

/* Keyframe animations for fadeIn and fadeOut */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .popup {
    padding: 10px;
  }
}
