.serene-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}

.serene-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.serene-main-title {
  font-size: 4em;
  margin-bottom: 50px;
}

.serene-content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serene-content .serene-image {
  position: relative;
  overflow: hidden;
}

.serene-content .serene-image img {
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.serene-content .serene-text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.serene-content .serene-text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.serene-info {
  padding-left: 20px;
}

/* CSS for screens up to 900px (mobile) */
@media (max-width: 900px) {
  .serene-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; /* Adjusted padding for mobile */
    color: #fff;
  }

  .serene-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Adjusted max-width for mobile */
  }

  .serene-main-title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .serene-content {
    position: relative;
    width: 100%; /* Adjusted width for mobile */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .serene-content .serene-text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px; /* Adjusted padding for mobile */
    max-width: 100%; /* Adjusted max-width for mobile */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    transform: translate(0, 0); /* Adjusted transform for mobile */
  }

  .serene-content .serene-text-box h3 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .serene-info {
    padding-left: 0;
  }
}
