<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FaceCounter</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./static/css/index.css" />
  </head>

  <body>
    <h1>Face Counter</h1>

    <!-- Intro -->

    <!-- Input to accept image from user -->

    <!-- Display the original & ourput image side by side -->

    <!-- Display the number of faces detected -->

    <!-- Display the time taken to process the image -->

    <!-- Display the confidence score of the face detection -->

    <!-- Footer -->

    <!-- Custom JS -->
    <script src="./static/js/index.js"></script>
  </body>
</html>
