<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FaceCounter</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./static/css/index.css" />
    <link rel="stylesheet" href="./static/css/glow_button.css" />
  </head>

  <body>
    <div class="header">
      <h1>Face Counter</h1>

      <!-- Intro -->
      <h2>
        Look into the mirror, what do you see? You, me, and someone else I see
        👀
      </h2>
      <h3>Telling you the number of faces in the picture you provide</h3>
    </div>

    <!-- Input to accept image from user -->
    <div class="upload-section">
      <form method="POST" enctype="multipart/form-data">
        <label for="file" class="custum-file-upload">
          <div class="icon">
            <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                  fill=""
                ></path>
              </g>
            </svg>
          </div>
          <div class="text">
            <span>Click to upload image</span>
          </div>
          <input id="file" type="file" name="file" accept=".jpg, .jpeg, .png" />
          <input type="submit" value="Upload and Analyze" class="btn" />
        </label>
      </form>
    </div>

    <!-- Display the loading message -->
    <div id="loading">
      <p>Loading...</p>
    </div>

    <!-- Display the original & ourput image side by side -->
    {% if uploaded %}
    <div class="result">
      <div class="result-image" id="original-image">
        <h2>Original Image</h2>
        <img
          src="{{ url_for('static', filename='uploads/uploaded_image.jpg') }}"
          alt="Original Image"
        />
      </div>
      <div class="result-image" id="output-image">
        <h2>Result Image ({{ face_count }} Faces Detected)</h2>
        <img
          src="{{ url_for('static', filename='uploads/output_image.jpg') }}"
          alt="Result Image"
        />
      </div>
    </div>
    {% endif %}

    <!-- Display the parameters -->
    {% if uploaded %}
    <div class="parameters-container">
      <!-- Display the no. of faces detected -->
      <div class="parameter">
        <h2>No. of Faces Detected</h2>
        <h3>{{ face_count }}</h3>
      </div>
      <!-- Display the time taken to process the image -->
      <div class="parameter">
        <h2>Processing Time ⌚</h2>
        <h3>{{ processing_time }} seconds</h3>
      </div>
      <!-- Display the confidence score of the face detection -->
    </div>
    {% endif %}

    <!-- Display the "Share" button -->
    {% if uploaded %}
    <div class="share-button">
      <button id="copyButton" class="glow-btn" type="button">
        <strong>Copy Result Image</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>

        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
    </div>
    {% endif %}

    <!-- Footer -->
    <div class="footer">
      <h2>
        Made with ❤️ by
        <a href="" target="_blank">Hardvan</a>,
        <a href="" target="_blank">Krounosity</a>
      </h2>
    </div>

    <!-- Custom JS -->
    <script src="./static/js/index.js"></script>
    <script>
      // JavaScript code to automatically submit the form on file selection
      document.addEventListener("DOMContentLoaded", function () {
        const fileInput = document.getElementById("file");
        fileInput.addEventListener("change", function () {
          const form = fileInput.parentElement.parentElement;
          // Loading message
          const loading = document.getElementById("loading");
          loading.style.display = "block";
          form.submit();
        });

        // JavaScript code to copy the result image to the clipboard
        const copyButton = document.getElementById("copyButton");
        copyButton.addEventListener("click", function () {
          const resultImage = document.querySelector("#output-image img");
          const imgURL = resultImage.src;

          // Create a temporary input element to copy the image URL
          const tempInput = document.createElement("input");
          tempInput.value = imgURL;
          document.body.appendChild(tempInput);

          // Select and copy the value to the clipboard
          tempInput.select();
          document.execCommand("copy");

          // Remove the temporary input element
          document.body.removeChild(tempInput);

          // Provide user feedback
          alert("Result image URL copied to clipboard!");
        });
      });

      // JavaScript code to handle loading state
      const form = document.querySelector("form");
      const loading = document.getElementById("loading");
      const copyButton = document.getElementById("copyButton");

      // After the result is ready, hide loading message and enable the button
      window.addEventListener("load", function () {
        loading.style.display = "none";
        copyButton.disabled = false;
      });
    </script>
  </body>
</html>
